

body {
    background-color: hsl(310, 53%, 50%);
}

#container {
    background-color: rgb(159, 64, 154);
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    border: 1px solid powderblue;
}

header h1 {
    text-align: center;
    font-size: 100px;
    color: paleturquoise;
    text-shadow: 2px 9px 8px #F2AEDB
}

nav {
    text-align: center;
}

nav a {
    color: paleturquoise;
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;

}

nav a:hover {
    color: white;
    text-decoration: none;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

main img {
    display: block;
    width: 80%;
    margin: 20px auto;
}


a:hover {
    color:white;
}

ul {
    color: paleturquoise;
}

footer {
    padding: 40px;
    text-align: center;
    color: paleturquoise;
}

h2,
h3 {
    text-align: center;
    color: paleturquoise;
    font-size: 30px;
}

p {
    color: plum;
    margin: 15px;
}

hr {
    color: #f32fb2;
}

/*Global Styles*/
nav{
    background-color: hsl(310, 50%, 60%);
}
nav ul{
    list-style-type: none;
    padding: 0;
}

nav li{
    display: inline-block;
}

nav li a{
    color: yellow;
    margin-left: 20px;
    text-decoration: none;
}
