body {
    background-color: hsl(310, 53%, 50%);
}

#container {
    background-color: rgb(159, 64, 154);
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    border: 1px solid paleturquoise;
}

header h1 {
    text-align: center;
    font-size: 100px;
    color: rgb(206, 153, 252);
    text-shadow: 2px 20px 20px rgb(239, 70, 194)
}

nav {
    text-align: center;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;

}

nav a:hover {
    color: white;
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

main img {
    display: block;
    width: 80%;
    margin: 20px auto;
}


a:hover {
    color: white;
}

ul {
    color: paleturquoise;
}

footer {
    padding: 40px;
    text-align: center;
    color: paleturquoise;
}

h2,
h3 {
    text-align: center;
    color: paleturquoise;
    font-size: 30px;
}

p {
    color: rgb(247, 211, 247);
    margin: 15px;
}

hr {
    color: yellow;
}

nav {
    background-color: hsl(310, 50%, 60%);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    color: rgb(88, 16, 155);
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover {
    color: hsl(281, 53%, 54%);
}

main {
    padding: 20px;
}

img {
    width: 100%;
}

#lower {
    display: flex;
}

#music {
    display: flex;
}

.col {
    padding: 10px;
    margin: 10px;
    border: 2px solid paleturquoise;
    width: 33.33%;
}

footer {
    padding: 40px 0;
    text-align: center;
}

hr {
    width: 90%;
}

.button {
    background-color: paleturquoise;
    display: block;
    width: 125px;
    height: 30px;
    color: rgb(88, 16, 155);
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    color: hsl(281, 53%, 54%);
}

#hiphop img {
    width: 50%;
}

#cartoons img {
    width: 100%;
}

.col1 {
    padding: 10px;
    margin: 10px;
    border: 2px solid paleturquoise;
    width: 33.33%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

.col2 {
    padding: 10px;
    margin: 10px;
    border: 2px solid paleturquoise;
    width: 33.33%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.col3 {
    padding: 10px;
    margin: 10px;
    border: 2px solid paleturquoise;
    width: 33.33%;
    margin-left: auto;
    margin-right: auto;
}

.col3 img {
    width: 100%;
}

.col1 img {
    width: 30%;
}

#middle {
    display: inline-block;
}

.girls1 img {
    width: 43%;
}

.girls2 img {
    width: 43%;
}

#middle {
    display: block;
}